# Table of Contents
 <p><div class="lev1 toc-item"><a href="#R-with-Remote-Databases-(relational-DBMS)" data-toc-modified-id="R-with-Remote-Databases-(relational-DBMS)-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>R with Remote Databases (relational DBMS)</a></div><div class="lev2 toc-item"><a href="#Import-data-from-sqlite-database" data-toc-modified-id="Import-data-from-sqlite-database-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Import data from sqlite database</a></div><div class="lev2 toc-item"><a href="#Import-data-from-mySQL-database" data-toc-modified-id="Import-data-from-mySQL-database-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Import data from mySQL database</a></div><div class="lev1 toc-item"><a href="#File-storage-&amp;-hosting-service" data-toc-modified-id="File-storage-&amp;-hosting-service-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>File storage &amp; hosting service</a></div><div class="lev2 toc-item"><a href="#Import-data-from-Google-drive-(googlesheets-package)" data-toc-modified-id="Import-data-from-Google-drive-(googlesheets-package)-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Import data from Google drive (googlesheets package)</a></div><div class="lev1 toc-item"><a href="#Social-Media" data-toc-modified-id="Social-Media-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Social Media</a></div><div class="lev2 toc-item"><a href="#Import-data-from-facebook" data-toc-modified-id="Import-data-from-facebook-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Import data from facebook</a></div><div class="lev2 toc-item"><a href="#Import-data-from-twitter" data-toc-modified-id="Import-data-from-twitter-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Import data from twitter</a></div>

# R with Remote Databases (relational DBMS)

## Import data from sqlite database
* SQLite is a public-domain, single-user database
* light weight serverless transactional SQL database engine
* SQLite supports most of the query language features

**Download SQLite from here:** https://www.sqlite.org/download.html  
**How to download & Install SQLite:** http://www.sqlitetutorial.net/download-install-sqlite/     
**SQLite tutorials:**    
https://www.sqlite.org/cli.html 
https://www.tutorialspoint.com/sqlite/index.htm  
**SQLite DB Browser(visual & open source tool):** http://sqlitebrowser.org/

In [18]:
# install required packages
# install.packages("RSQLite", repos = "http://cran.us.r-project.org")
# install.packages("DBI", repos = "http://cran.us.r-project.org")

In [19]:
# load packages
library(RSQLite)
library(DBI) # database interface (DBI) connectivity between DBMS(database management systems)  and R

In [20]:
# To create a new SQLite database, you simply supply the filename to dbConnect():

# mydb <- dbConnect(RSQLite::SQLite(), "my-db.sqlite")
# dbDisconnect(mydb)
# unlink("my-db.sqlite")

In [21]:
# connect to the sqlite file
DB <- dbConnect(SQLite(), dbname = "C:/sqlite/learn.db")
dbListTables(DB)
dbGetQuery(DB, 'SELECT * FROM learnTb')

[1] "learnTb"

  a b
1 1 Jay
2 3 Kay
3 5 May
4 6 Ray
5 7 Hay

In [22]:
dbDisconnect(DB)

In [23]:
mydb <- dbConnect(RSQLite::SQLite(), "") # If you just need a temporary database, use  ""
dbWriteTable(mydb, "mtcars", mtcars) # You can easily copy an R data frame into a SQLite database with dbWriteTable()
dbWriteTable(mydb, "iris", iris)

dbListTables(mydb)  # to list out the tables

[1] "iris"   "mtcars"

In [24]:
# query with dbGetQuery():

dbGetQuery(mydb, 'SELECT * FROM mtcars LIMIT 5')

  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
1 21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
2 21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
3 22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
4 21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
5 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2

In [25]:
dbGetQuery(mydb, 'SELECT * FROM iris WHERE "Sepal.Length" < 4.6')

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 4.4          2.9         1.4          0.2         setosa
2 4.3          3.0         1.1          0.1         setosa
3 4.4          3.0         1.3          0.2         setosa
4 4.5          2.3         1.3          0.3         setosa
5 4.4          3.2         1.3          0.2         setosa

In [26]:
dbDisconnect(mydb)

## Import data from mySQL database

In [27]:
# install.packages("RMySQL", repos = "http://cran.us.r-project.org")
library(RMySQL)
library(DBI)

Warning message:
"package 'RMySQL' was built under R version 3.4.3"
Attaching package: 'RMySQL'

The following object is masked from 'package:RSQLite':

    isIdCurrent

In [29]:
mydb = dbConnect(MySQL(), user='root', password='m*********3', dbname='contacts', host='localhost')

In [30]:
dbListTables(mydb)

[1] "address"        "email_address"  "person"         "person_address"
[5] "phone_number"

In [31]:
dbListFields(mydb, 'person')

[1] "person_id"                  "person_first_name"
[3] "person_last_name"           "person_contacted_number"
[5] "person_date_last_contacted" "person_date_added"

In [32]:
rs = dbSendQuery(mydb, "select * from person")
# the results of this query remain on the MySQL server

In [33]:
# to access the results in R we need to use the fetch function.
data = fetch(rs, n = -1)
data
# This saves the results of the query as a data frame object. The n in the
# function specifies the number of records to retrieve, using n=-1 retrieves all
# pending records

  person_id person_first_name person_last_name person_contacted_number
1 1         Jon               Flanders         5
2 2         Shannon           Ahern            0
3 3         Fritz             Onion            1
  person_date_last_contacted person_date_added
1 2013-09-14 11:43:31        2013-01-14 11:43:31
2 2013-08-14 11:43:31        2013-02-14 11:43:31
3 2013-07-14 11:43:31        2013-03-14 11:43:31

# File storage & hosting service

## Import data from Google drive (googlesheets package)
* The googlesheets package with its gs_read() function which allows you to read in Google spreadsheets into R

In [ ]:
# install.packages("googlesheets", repos = "http://cran.us.r-project.org")
######Importing Google Spreadsheets Into R ########
library(googlesheets)
library(httpuv)

In [ ]:
# to get Authentication as new user 
gs_auth(new_user = TRUE)
# it will open a browser window by requiesting your google credentials

In [75]:
(my_sheets <- gs_ls()) # dispalys list of sheets available in the drive
# Let the browser start up and complete the authentication process.

  sheet_title        author            perm version updated
1 Practice_Data.xlsx datascienceportal rw   new     2018-01-27 12:34:21
2 myDFExcel.xlsx     datascienceportal rw   new     2018-01-27 12:33:02
3 latitude.xlsx      datascienceportal rw   new     2018-01-27 12:30:31
4 sampleNew          datascienceportal rw   new     2018-01-27 12:28:06
  sheet_key
1 1tdrdoybzs2wDDxaNR0hSS5CyCZ8oDezULMCuSqVdIC4
2 1_syWrGdnInJ_gnzMnipHAgAwlQtdPtzg6_CBOjtTbnY
3 1FLbexp-M2ugEt0CVwKlllrH1NXcaYYSU09ccfR76QyE
4 1KjfCyEy9p5pHGY1ttRmXsXU3PvOnbAyZ7jNugcKkH24
  ws_feed
1 https://spreadsheets.google.com/feeds/worksheets/1tdrdoybzs2wDDxaNR0hSS5CyCZ8oDezULMCuSqVdIC4/private/full
2 https://spreadsheets.google.com/feeds/worksheets/1_syWrGdnInJ_gnzMnipHAgAwlQtdPtzg6_CBOjtTbnY/private/full
3 https://spreadsheets.google.com/feeds/worksheets/1FLbexp-M2ugEt0CVwKlllrH1NXcaYYSU09ccfR76QyE/private/full
4 https://spreadsheets.google.com/feeds/worksheets/1KjfCyEy9p5pHGY1ttRmXsXU3PvOnbAyZ7jNugcKkH24/private/full
  alternate
1 https://docs.google.com/spreadsheets/d/1tdrdoybzs2wDDxaNR0hSS5CyCZ8oDezULMCuSqVdIC4/edit
2 https://docs.google.com/spreadsheets/d/1_syWrGdnInJ_gnzMnipHAgAwlQtdPtzg6_CBOjtTbnY/edit
3 https://docs.google.com/spreadsheets/d/1FLbexp-M2ugEt0CVwKlllrH1NXcaYYSU09ccfR76QyE/edit
4 https://docs.google.com/spreadsheets/d/1KjfCyEy9p5pHGY1ttRmXsXU3PvOnbAyZ7jNugcKkH24/edit
  self
1 https://spreadsheets.google.com/feeds/spreadsheets/private/full/1tdrdoybzs2wDDxaNR0hSS5CyCZ8oDezULMCuSqVdIC4
2 https://spreadsheets.google.com/feeds/spreadsheets/private/full/1_syWrGdnInJ_gnzMnipHAgAwlQtdPtzg6_CBOjtTbnY
3 https://spreadsheets.google.com/feeds/spreadsheets/private/full/1FLbexp-M2ugEt0CVwKlllrH1NXcaYYSU09ccfR76QyE
4 https://spreadsheets.google.com/feeds/spreadsheets/private/full/1KjfCyEy9p5pHGY1ttRmXsXU3PvOnbAyZ7jNugcKkH24
  alt_key
1 NA
2 NA
3 NA
4 NA

In [77]:
# Then, if you want to read in the data or edit it, you have to register it. You can do this by specifying your spreadsheet by title
# or by key:
data <- gs_title("Practice_Data.xlsx") # Specifying the sheet by title

Sheet successfully identified: "Practice_Data.xlsx"

In [78]:
# data <- gs_key()
# Next, you can read in the data:
gs_read(data)

Accessing worksheet titled 'Practice_Data'.
Parsed with column specification:
cols(
  .default = col_character(),
  ID = col_integer(),
  Education_Years = col_double(),
  Age = col_integer(),
  Num_persons_worked = col_integer(),
  Year = col_integer(),
  Hour_wage = col_integer(),
  Capital_gains = col_integer(),
  Capital_losses = col_integer(),
  Dividends = col_integer(),
  Weeks_worked = col_integer(),
  Stock_numbers = col_integer(),
  Investment = col_logical(),
  Employed = col_logical()
)
See spec(...) for full column specifications.

     ID     Gender Income  Education_Years Ed_Category           MaritalStatus
1    1115   Male   -50000  16.0            Bachelors Degree      Married
2    1173   Female -50000  12.0            High School Degree    Married
3    1184   Male   50000+. 16.0            Bachelors Degree      Married
4    1187   Male   -50000  13.0            Some College          Married
5    1274   Female -50000  12.5            Some College          Separated
6    1275   Female -50000  12.5            Some College          Divorced
7    1282   Female -50000  16.0            Bachelors Degree      Never Married
8    1301   Female -50000  12.5            Some College          Married
9    1325   Female -50000  16.0            Bachelors Degree      Married
10   1388   Male   50000+. 12.0            High School Degree    Married
11   1434   Female -50000  18.0            Advanced Degree       Married
12   1442   Female -50000  12.5            Some College          Married
13   1563   Male   50000+. 16.0            Bachelors Degree      Married
14   1570   Male   50000+. 18.0            Advanced Degree       Married
15   1624   Male   50000+. 16.0            Bachelors Degree      Married
16   1694   Female -50000  11.0            No High School Degree Widowed
17   1736   Male   -50000  10.0            No High School Degree Married
18   1759   Male   -50000  12.0            High School Degree    Married
19   1837   Male   -50000   8.0            No High School Degree Divorced
20   1948   Female -50000  12.0            High School Degree    Divorced
21   1957   Male   -50000  12.0            High School Degree    Never Married
22   2001   Female -50000  12.0            High School Degree    Married
23   2085   Female -50000  12.0            High School Degree    Married
24   2123   Male   50000+. 16.0            Bachelors Degree      Married
25   2149   Male   -50000  11.0            No High School Degree Married
26   2188   Male   -50000  16.0            Bachelors Degree      Married
27   2232   Male   -50000  12.0            High School Degree    Never Married
28   2283   Male   50000+. 20.0            Advanced Degree       Widowed
29   2284   Male   50000+. 16.0            Bachelors Degree      Married
30   2373   Male   50000+. 12.5            Some College          Married
...  ...    ...    ...     ...             ...                   ...
3793 199155 Female -50000  12.5            Some College          Married
3794 199160 Male   -50000  12.0            High School Degree    Married
3795 199181 Female -50000  12.0            High School Degree    Married
3796 199223 Female -50000  16.0            Bachelors Degree      Married
3797 199246 Female 50000+. 18.0            Advanced Degree       Divorced
3798 199263 Male   -50000  12.5            Some College          Married
3799 199266 Male   50000+. 18.0            Advanced Degree       Married
3800 199328 Female -50000  12.0            High School Degree    Never Married
3801 199347 Male   50000+. 16.0            Bachelors Degree      Married
3802 199350 Female 50000+. 18.0            Advanced Degree       Never Married
3803 199376 Male   50000+. 12.0            High School Degree    Married
3804 199461 Female -50000  12.0            High School Degree    Married
3805 199472 Female -50000   9.0            No High School Degree Married
3806 199607 Male   -50000  12.5            Some College          Never Married
3807 199652 Male   -50000  16.0            Bachelors Degree      Married
3808 199736 Male   50000+. 16.0            Bachelors Degree      Married
3809 199765 Female -50000  10.0            No High School Degree Widowed
3810 199880 Male   -50000  16.0            Bachelors Degree      Married
3811 199894 Male   50000+.  8.0            No High School Degree Married
3812 200037 Male   50000+. 16.0            Bachelors Degree      Married
3813 200115 Male   50000+. 16.0            Bachelors Degree      Married
3814 200131 Female -50000  13.0            Some College          Married
3815 200159 Male   50000+. 12.0            High School Degree    Never Married
3816 200177 Female -50000  12.0            High School Degree    Divorced
3817 200196 Female -50000  16.0            Bachelors Degree      Married
3818 200199 Female -50000  12.0            High School Degree    Divorced
3819 200260 Male   -50000  12.5            Some College          Married
3820 200314 Female -50000  12.5            Some College          Married
3821 200342 Female -50000   8.0            No High School Degree Widowed
3822 200414 Male   -50000  12.0            High School Degree    Married
     Age Age_Groups Race                        Hispanic_origin           ...
1    68  Sixties    White                       All other                 ...
2    43  Forties    White                       All other                 ...
3    35  Thirties   White                       All other                 ...
4    41  Forties    White                       All other                 ...
5    30  Thirties   White                       All other                 ...
6    31  Thirties   White                       All other                 ...
7    33  Thirties   White                       All other                 ...
8    46  Forties    White                       All other                 ...
9    40  Forties    White                       All other                 ...
10   54  Fifties    White                       All other                 ...
11   50  Fifties    White                       All other                 ...
12   30  Thirties   White                       All other                 ...
13   49  Forties    White                       All other                 ...
14   55  Fifties    White                       All other                 ...
15   57  Fifties    White                       All other                 ...
16   61  Sixties    Black                       All other                 ...
17   50  Fifties    White                       All other                 ...
18   42  Forties    White                       Mexican-American          ...
19   51  Fifties    White                       All other                 ...
20   33  Thirties   White                       All other                 ...
21   31  Thirties   White                       All other                 ...
22   50  Fifties    White                       All other                 ...
23   53  Fifties    White                       All other                 ...
24   59  Fifties    White                       All other                 ...
25   33  Thirties   Amer Indian Aleut or Eskimo All other                 ...
26   29  Young      White                       All other                 ...
27   37  Thirties   White                       Central or South American ...
28   78  Older      White                       All other                 ...
29   45  Forties    White                       All other                 ...
30   36  Thirties   White                       All other                 ...
...  ... ...        ...                         ...
3793 28  Young      White                       Central or South American ...
3794 79  Older      White                       All other                 ...
3795 51  Fifties    White                       All other                 ...
3796 63  Sixties    White                       All other                 ...
3797 37  Thirties   White                       All other                 ...
3798 67  Sixties    White                       All other                 ...
3799 56  Fifties    White                       All other                 ...
3800 20  Young      White                       All other                 ...
3801 32  Thirties   White                       All other                 ...
3802 56  Fifties    White                       All other                 ...
3803 52  Fifties    White                       All other                 ...
3804 48  Forties    Asian or Pacific Islander   All other                 ...
3805 28  Young      White                       Puerto Rican              ...
3806 20  Young      White                       All other                 ...
3807 38  Thirties   White                       All other                 ...
3808 44  Forties    White                       Mexican-American          ...
3809 43  Forties    White                       Puerto Rican              ...
3810 72  Older      White                       All other                 ...
3811 79  Older      White                       All other                 ...
3812 57  Fifties    White                       All other                 ...
3813 30  Thirties   White                       All other                 ...
3814 43  Forties    White                       All other                 ...
3815 38  Thirties   White                       All other                 ...
3816 61  Sixties    White                       All other                 ...
3817 54  Fifties    White                       Mexican-American          ...
3818 34  Thirties   White                       All other                 ...
3819 38  Thirties   White                       All other                 ...
3820 64  Sixties    White                       All other                 ...
3821 84  Older      White                       All other                 ...
3822 29  Young      White                       All other                 ...
     Reason_unemployed Employment_status                  Tax_status
1    Not applicable    Not in labor force                 Joint both 65+
2    Not applicable    Children or Armed Forces           Joint both under 65
3    Not applicable    Children or Armed Forces           Joint both under 65
4    Not applicable    Children or Armed Forces           Joint both under 65
5    Not applicable    Full-time schedules                Head of household
6    Not applicable    Full-time schedules                Head of household
7    Not applicable    Full-time schedules                Single
8    Not applicable    Children or Armed Forces           Joint both under 65
9    Not applicable    Children or Armed Forces           Joint both under 65
10   Not applicable    Children or Armed Forces           Joint both under 65
11   Not applicable    Not in labor force                 Joint both under 65
12   Not applicable    Full-time schedules                Joint both under 65
13   Not applicable    Children or Armed Forces           Joint both under 65
14   Not applicable    Children or Armed Forces           Joint both under 65
15   Not applicable    Children or Armed Forces           Joint both under 65
16   Not applicable    Children or Armed Forces           Single
17   Not applicable    Full-time schedules                Joint both under 65
18   Not applicable    Children or Armed Forces           Single
19   Not applicable    PT for econ reasons usually PT     Single
20   Re-entrant        Children or Armed Forces           Nonfiler
21   Not applicable    Children or Armed Forces           Single
22   Not applicable    Not in labor force                 Joint both under 65
23   Not applicable    Children or Armed Forces           Joint both under 65
24   Not applicable    PT for econ reasons usually PT     Joint both under 65
25   Other job lose    Children or Armed Forces           Joint both under 65
26   Not applicable    Full-time schedules                Joint both under 65
27   Not applicable    Full-time schedules                Head of household
28   Not applicable    Not in labor force                 Single
29   Not applicable    Full-time schedules                Joint both under 65
30   Not applicable    Children or Armed Forces           Joint both under 65
...  ...               ...                                ...
3793 Not applicable    Children or Armed Forces           Joint both under 65
3794 Not applicable    Children or Armed Forces           Nonfiler
3795 Not applicable    Not in labor force                 Joint both under 65
3796 Not applicable    Full-time schedules                Joint both under 65
3797 Not applicable    PT for non-econ reasons usually FT Single
3798 Not applicable    Children or Armed Forces           Joint both 65+
3799 Not applicable    Full-time schedules                Joint both under 65
3800 Not applicable    Children or Armed Forces           Nonfiler
3801 Not applicable    Children or Armed Forces           Joint both under 65
3802 Not applicable    Children or Armed Forces           Single
3803 Not applicable    Full-time schedules                Joint both under 65
3804 Not applicable    Not in labor force                 Joint both under 65
3805 Not applicable    Full-time schedules                Joint both under 65
3806 Not applicable    Full-time schedules                Single
3807 Not applicable    Full-time schedules                Joint both under 65
3808 Not applicable    Full-time schedules                Joint both under 65
3809 Not applicable    Children or Armed Forces           Nonfiler
3810 Not applicable    Not in labor force                 Joint both 65+
3811 Not applicable    Children or Armed Forces           Joint both 65+
3812 Not applicable    Full-time schedules                Joint both under 65
3813 Not applicable    Children or Armed Forces           Joint both under 65
3814 Not applicable    Children or Armed Forces           Joint both under 65
3815 Not applicable    Children or Armed Forces           Single
3816 Not applicable    Children or Armed Forces           Nonfiler
3817 Not applicable    PT for econ reasons usually PT     Joint both under 65
3818 Not applicable    Full-time schedules                Head of household
3819 Not applicable    Full-time schedules                Joint both under 65
3820 Not applicable    Children or Armed Forces           Joint both under 65
3821 Not applicable    Not in labor force                 Single
3822 Not applicable    Children or Armed Forces           Joint both under 65
     Own_business Income_category Stock_numbers Investment Employed
1    NA           -50000           3095          TRUE      FALSE
2    NA           -50000              0         FALSE       TRUE
3    NA           50000+.         15024          TRUE       TRUE
4    NA           -50000              0         FALSE       TRUE
5    NA           -50000           1831          TRUE       TRUE
6    NA           -50000              0         FALSE       TRUE
7    NA           -50000            300          TRUE       TRUE
8    NA           -50000              0         FALSE       TRUE
9    NA           -50000              0         FALSE       TRUE
10   NA           50000+.          1848          TRUE       TRUE
11   NA           -50000              0         FALSE      FALSE
12   NA           -50000              0         FALSE       TRUE
13   NA           50000+.           300          TRUE       TRUE
14   NA           50000+.             0         FALSE       TRUE
15   NA           50000+.         16902          TRUE      FALSE
16   NA           -50000              0         FALSE       TRUE
17   NA           -50000           1744          TRUE       TRUE
18   NA           -50000              0         FALSE       TRUE
19   NA           -50000              0         FALSE       TRUE
20   NA           -50000              0         FALSE       TRUE
21   NA           -50000              0         FALSE       TRUE
22   NA           -50000              0         FALSE      FALSE
23   NA           -50000              0         FALSE       TRUE
24   NA           50000+.           250          TRUE       TRUE
25   NA           -50000              0         FALSE       TRUE
26   NA           -50000           5013          TRUE       TRUE
27   NA           -50000              0         FALSE       TRUE
28   NA           50000+.         11509          TRUE      FALSE
29   NA           50000+.         15124          TRUE       TRUE
30   NA           50000+.            80          TRUE       TRUE
...  ...          ...             ...           ...        ...
3793 NA           -50000           1300          TRUE       TRUE
3794 NA           -50000              0         FALSE      FALSE
3795 NA           -50000              0         FALSE      FALSE
3796 NA           -50000              0         FALSE       TRUE
3797 NA           50000+.            90          TRUE       TRUE
3798 NA           -50000           2653          TRUE      FALSE
3799 NA           50000+.             0         FALSE       TRUE
3800 NA           -50000              0         FALSE      FALSE
3801 NA           50000+.          7688          TRUE       TRUE
3802 NA           50000+.           300          TRUE       TRUE
3803 NA           50000+.             0         FALSE       TRUE
3804 NA           -50000              0         FALSE      FALSE
3805 NA           -50000              0         FALSE       TRUE
3806 NA           -50000              0         FALSE       TRUE
3807 NA           -50000              0         FALSE       TRUE
3808 NA           50000+.             0         FALSE       TRUE
3809 NA           -50000              0         FALSE      FALSE
3810 NA           -50000          14000          TRUE      FALSE
3811 NA           50000+.             0         FALSE      FALSE
3812 NA           50000+.             0         FALSE       TRUE
3813 NA           50000+.         99999          TRUE       TRUE
3814 NA           -50000            200          TRUE      FALSE
3815 NA           50000+.             0         FALSE       TRUE
3816 NA           -50000              0         FALSE      FALSE
3817 NA           -50000            500          TRUE       TRUE
3818 NA           -50000              0         FALSE       TRUE
3819 NA           -50000              0         FALSE       TRUE
3820 NA           -50000           1150          TRUE      FALSE
3821 NA           -50000              0         FALSE      FALSE
3822 NA           -50000              0         FALSE       TRUE
     Educated_fulltime Educated_earning_age
1    No                No
2    No                No
3    Yes               Yes
4    No                No
5    No                No
6    No                No
7    Yes               No
8    No                No
9    No                Yes
10   No                No
11   No                Yes
12   No                No
13   Yes               Yes
14   Yes               Yes
15   No                Yes
16   No                No
17   No                No
18   No                No
19   No                No
20   No                No
21   No                No
22   No                No
23   No                No
24   Yes               Yes
25   No                No
26   Yes               No
27   No                No
28   No                No
29   Yes               Yes
30   No                No
...  ...               ...
3793 No                No
3794 No                No
3795 No                No
3796 No                No
3797 Yes               Yes
3798 No                No
3799 Yes               Yes
3800 No                No
3801 Yes               No
3802 No                Yes
3803 No                No
3804 No                No
3805 No                No
3806 No                No
3807 Yes               Yes
3808 Yes               Yes
3809 No                No
3810 No                No
3811 No                No
3812 No                Yes
3813 Yes               No
3814 No                No
3815 No                No
3816 No                No
3817 Yes               Yes
3818 No                No
3819 No                No
3820 No                No
3821 No                No
3822 No                No

**further references:**     
https://cran.r-project.org/web/packages/googlesheets/vignettes/basic-usage.html  
https://rawgit.com/jennybc/googlesheets/master/vignettes/basic-usage.html  
https://github.com/jennybc/googlesheets

# Social Media

## Import data from facebook

In [ ]:
# install required packages
# install.packages("Rfacebook", repos = "http://cran.us.r-project.org")

In [81]:
library(Rfacebook)

Warning message:
"package 'Rfacebook' was built under R version 3.4.3"Loading required package: httr
Warning message:
"package 'httr' was built under R version 3.4.3"Loading required package: rjson
Loading required package: httpuv

Attaching package: 'Rfacebook'

The following object is masked from 'package:methods':

    getGroup

**To generate an access token goto the link:** https://developers.facebook.com/tools/explorer  with your facebook credentials and copy the Access Token and store it into one object

In [82]:
# paste your long digit token here
token <- "A******************************************************************************************************************Z"

In [83]:
# getUsers function returns public information about one or more Facebook user.
# If we use me as the username argument, it will return our own profile info.
me <- getUsers("me", token = token, private_info=TRUE)
me$name

[1] "DataScience Telangana Portal"

In [84]:
my_friends <- getFriends(token, simplify=TRUE)
my_friends_info <- getUsers(my_friends$id, token=token, private_info=TRUE)
my_friends
table(my_friends_info$location)

Only friends who use the application will be returned
See ?getFriends for more details

   name                        id
1  Luis Benites Snchez        544886275
2  Aftab Sheikh                10152518814041645
3  Durga Viswanath Gadiraju    10152607777806523
4  Tibor Kurina                10203106755531405
5  Tzu-Ching Wu                10201792213915583
6  Alexsandro Cardoso Carvalho 1358265277557179
7  Fernando Amaral             100003117542791
8  Nss Saro                    100003496551332
9  Abhishek Cxl                1819422961614232
10 Ryo Eng                     1458726501031159
11 Orienit Hadoop              1447594722146040
12 Ricardo Fit-big Data        129144230778124
13 Emma Smith                  131449437398322

   Bangalore, India      Chennai, India           Hyderabad          Lima, Peru
                  1                   1                   1                   1
Mumbai, Maharashtra       Novo Hamburgo Santo Andr, Brazil
                  1                   1                   1

In [87]:
Hyderabad_resident <- subset(my_friends_info$first_name,my_friends_info$location == "Santo Andr, Brazil")
Hyderabad_resident

[1] "Alexsandro"

In [88]:
### your friend's relationship status
table(my_friends_info$relationship_status)

Married  Single
      4       2

In [89]:
# List of all the pages you have liked
likes = getLikes(user="me", token = token)
sample(likes$names, 10)

 [1] "AR Placement"
 [2] "Aurora Degree College"
 [3] "Osmania University College of Engineering"
 [4] "Hyderabad Data Science Group"
 [5] "Analytics Analytics"
 [6] "Cloud Computing, Big Data Hadoop"
 [7] "Biomagnetismo Terapia"
 [8] "Computer Science and Engineering, Indian Institute of Technology Hyderabad"
 [9] "Big Data Hyderabad"
[10] "Telangana Open Data"

In [ ]:
# Update your Facebook Status from R 
updateStatus("this is just a test", token=token)

In [91]:
# Search Pages that contain a particular keyword
pages <- searchPages(string="trump", token=token, n=200)
head(pages,3)

200 pages

  id
1 153080620724
2 1220332944702810
3 1487587521541634
  about
1 This is the official Facebook page for Donald J. Trump
2 45th President of the United States. Working on behalf of the American people to make our country great again. \n\nComments and messages received through this account may be archived: wh.gov/privacy.
3 Providing high quality Trump news and updates for President Donald Trump Fans by Donald Trump Fans.\n\nTogether we can help Make America Great and Safe Again!
  category
1 Public Figure
2 Government Official
3 Community Organization
  description
1 NA
2 NA
3 President Donald Trump Fan Club. Breaking Trump News and Updates. For Trump Fans by Trump Fans. Together We can Make America Great and Safe Again.
  general_info likes    link
1 NA           23098538 https://www.facebook.com/DonaldTrump/
2 NA            2260557 https://www.facebook.com/POTUS/
3 NA            1417145 https://www.facebook.com/PresidentDonaldTrumpFanClub/
  city        state country       latitude longitude
1 New York    NY    United States       NA        NA
2 NA          NA    NA                  NA        NA
3 Minneapolis MN    United States 44.97579 -93.27235
  name                            talking_about_count
1 Donald J. Trump                 1505346
2 President Donald J. Trump         30058
3 President Donald Trump Fan Club  175420
  username                    website
1 DonaldTrump                 http://www.donaldjtrump.com
2 POTUS                       www.WhiteHouse.gov
3 PresidentDonaldTrumpFanClub https://ilovemyfreedom.org

In [92]:
head(pages$name)

[1] "Donald J. Trump"                   "President Donald J. Trump"
[3] "President Donald Trump Fan Club"   "Ivanka Trump"
[5] "We Love President Donald J. Trump" "TRUMP"

In [93]:
# Extract list of posts from a Facebook page
page <- getPage(page="bbcnews", token=token, n=200) 
head(page, 3)

25 posts 50 posts 75 posts 100 posts 125 posts 150 posts 175 posts 200 posts

  from_id      from_name
1 228735667216 BBC News
2 228735667216 BBC News
3 228735667216 BBC News
  message
1 Why the UK The Labour Party leader Jeremy Corbyn has chosen the writer Mary Wollstonecraft as his political hero. (via BBC Politics)
2 The ochre crayon may have been used to draw on animal skins 10,000 years ago.
3 Should men take a pay cut to reduce the gender pay gap? \n\nSome male BBC presenters have agreed to earn less after revelations about pay differences between men and women working for the corporation. bbc.in/2Fkdik9
  created_time             type
1 2018-01-27T12:14:06+0000 video
2 2018-01-27T11:00:17+0000 link
3 2018-01-27T10:02:46+0000 video
  link
1 https://www.facebook.com/bbcnews/videos/2109397445743769/
2 http://bbc.in/2EdK9Yj
3 https://www.facebook.com/bbcnews/videos/10155524663727217/
  id                             story likes_count comments_count shares_count
1 228735667216_2109397445743769  NA     498          89            92
2 228735667216_10155524833387217 NA     938          76           145
3 228735667216_10155524663727217 NA    1302        1399           361

## Import data from twitter

Goto https://apps.twitter.com/ and create a new app with below credentials if you donn't have an existed apps  
![Imgur](https://i.imgur.com/YE4Iv4v.png?1)

In [ ]:
# install required packages
install.packages("twitteR", repos = "http://cran.us.r-project.org")
install.packages("ROAuth", repos = "http://cran.us.r-project.org")

In [94]:
# load the libraries
library("twitteR")
library("ROAuth")

Warning message:
"package 'twitteR' was built under R version 3.4.3"
Attaching package: 'twitteR'

The following object is masked from 'package:Rfacebook':

    updateStatus

Warning message:
"package 'ROAuth' was built under R version 3.4.3"

Copy the below fields from your newly created app and store them into seperated objects as shown in the following script     
**consumer_key**  
**consumer_secret**  
**access_token**  
**access_secret**

In [95]:
consumer_key <- "1*************************X"

consumer_secret <- "A*********************************9"
access_token <- "3*****************************c"


access_secret <- "e********************************k"

options(httr_oauth_cache=T) #This will enable the use of a local file to cache OAuth access credentials between R sessions.
setup_twitter_oauth(consumer_key,
                    consumer_secret,
                    access_token,
                    access_secret)

[1] "Using direct authentication"

In [101]:
lucaspuente <- getUser("DataSciencePrtl") #give ur userid
location(lucaspuente)

[1] "United Arab Emirates"

In [100]:
lucaspuente_follower_IDs<-lucaspuente$getFollowers(retryOnRateLimit=180)
length(lucaspuente_follower_IDs)

[1] 10

In [102]:
if (!require("data.table")) {
  install.packages("data.table", repos="http://cran.rstudio.com/") 
  library("data.table")
}
lucaspuente_followers_df = rbindlist(lapply(lucaspuente_follower_IDs,as.data.frame))

Loading required package: data.table

In [107]:
# extract 3 followers details
head(lucaspuente_followers_df, 3)
# extract 10 followers location
head(lucaspuente_followers_df$location, 3)

  description
1 #Hadoop #BigData #Hive #Storm #HBase #Spark #HAWQ #Kafka #HDFS #Sqoop #Flume #Ambari #ZooKeeper #Analytics #NoSQL #SQL #MachineLearning #DataScience #IoT #Cloud
2 perfect
3 Entrepreneur, Founder, Partner, TrustedAdvisor,Mentor, #PrakhyaVentures,DigitalTransformation, Innovation, Analytics, Cloud, IoT, BigData, Blockchain, #Startups
  statusesCount followersCount favoritesCount friendsCount
1  521           745              9           2270
2  443           151           1031           2779
3 4987          9692             36           5781
  url                     name                created             protected
1 https://t.co/qX7q1t4PUE Anne-Sophie Bieules 2013-09-09 16:16:24 FALSE
2 NA                      chandeshwar shukla  2010-03-11 16:27:51 FALSE
3 https://t.co/KC45rSeFW1 Ravi Mudigonda      2010-04-15 04:05:21 FALSE
  verified screenName    location      lang id         listedCount
1 FALSE    ASBieules     Paris, France fr   1848127309  70
2 FALSE    chandutvitter Mumbai, India en   122108365    4
3 FALSE    rkmudigonda   Atlanta       en   133151349  127
  followRequestSent
1 FALSE
2 FALSE
3 FALSE
  profileImageUrl
1 http://pbs.twimg.com/profile_images/378800000434859890/af5d21172537795fbdbe95037fd27c94_normal.jpeg
2 http://abs.twimg.com/sticky/default_profile_images/default_profile_normal.png
3 http://pbs.twimg.com/profile_images/824467456358051840/GKV3P2UV_normal.jpg

[1] "Paris, France" "Mumbai, India" "Atlanta"